* {
  box-sizing: border-box;
}

body {
  padding: 50px;
}

h1 {
  font-family: arial;
  font-weight: bold;
}

h1 span {
  color: grey; 
  background-color: lightgrey;
  padding: 8px;
  border-radius: 5px;

}

#map {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

nav{
  display: block;
}

li {
  display:inline;
  float: right;
  padding: 10px;
  border-width: thin;
}

li a {
  padding: 8px;
  color: grey;
  border-radius: 5px;
  background-color: lightgrey;
  text-decoration: none;
  text-transform: lowercase;
}

section {
  background-image: url("https://wallpaperaccess.com/full/6134820.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 150px;
  padding: 8px;
  border-radius: 5px;
  margin-top: 10px;
  overflow: scroll;
}
section p {
  width: 50%;  
  
}

footer {
  float: right;
}

footer p {
    display: inline;
}

footer p a {
  text-decoration: none;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}